{% extends "base.html" %}

{% block title %}
    Admin Login
{% endblock %}


{% block bodyContent %}

<h4 class="greet"> Login to view Admin DashBoard</h4>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
<div class="loginBox shadow-lg p-3 mb-5 bg-body rounded">
    <h5 class="logintext">Enter the admin credentials</h5>
    <form action="{{url_for('admin.adminLogin')}}" method="POST">
        <div class="loginForm">
        <label for="username" class="col-form-label">Username</label><br>
        <input type="text" name="username" required aria-placeholder="username" autocomplete="off"><br>
        <label for="passwd" class="col-form-label">Password</label><br>
        <input type="password" name="passwd" required aria-placeholder="password" autocomplete="off" ><br>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>

{% endblock %}
