{% extends "admin/adminBase.html" %}

{% block title %}Admin DashBoard{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static',filename='admin.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='splResults.css')}}">
{% endblock %}


{% block adminContent %}
<div class="sidebar">
    <div class="adminBanner">
        <img src="https://www.vvka.org.in/assets/img/logo.png" alt="logo" class="schoolLogo">
        <h6 class="adminName">Admin</h6>
    </div>
    <a href="{{url_for('admin.adminDashBoard')}}" class="active">Dash Board</a>
    <a href="{{url_for('admin.splResult')}}">SPL Result</a>
    <a href="{{url_for('admin.asplMiddleResult')}}">ASPL(Middle) Result</a>
    <a href="{{url_for('admin.asplHsecResult')}}">ASPL(H.Sec) Result</a>
    <a href="{{url_for('admin.asplSrSecResult')}}">ASPL(Sr.Sec) Result</a>
 </div>
 
<div class="content">
    <h1>Hello, {{name}}</h1><br>
    <div class="adminButtons">
        <a class="btn btn-success" href="{{url_for('admin.newAdmin')}}">Add New User</a>
        <a class="btn btn-primary" href="{{url_for('admin.viewAdmins')}}">View All Admins</a>
        <a class="btn btn-warning" href="{{url_for('admin.viewStudents')}}">View Voted Students</a>
        <a class="btn btn-warning" href="{{url_for('admin.addCandidateDetails')}}"> Add Candidate Details</a>
    </div>
</div>
{% endblock %}

