<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/viewAdmin.css">
</head>
<body>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for admin in adminList %}
            <tr>
                <td>{{admin[0]}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</body>
</html>