@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.sidebar {
  height: 100%; 
  width: 230px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #0E123E; 
  overflow-x: hidden; 

}
body{
    background-color: #F4F7FD;
    font-family: "Poppins";
}
.sidebar a {
    display: block;
    color: black;
    background-color: whitesmoke;
    border-radius: 40px 0px 0px 40px;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    text-align: center;
}

.sidebar a.active {
    background-color: #EF786B;
    border-radius: 40px 0px 0px 40px;
    color: white;
    
}

.sidebar a:hover:not(.active) {
    background-color: #EF786B;
    color: white;
    transition: width 2s;

}

.adminName{
    color: white;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    float: auto;
}

.adminBanner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.schoolLogo{
    margin: 10px;
    width: 50px;

}
.schoolBanner::after {
    content: "";
    clear: both;
    display: table;
}

.totalVotes{
    background-color: white;
    width: 350px;
    height: 50px;
    border-radius: 12px;
    text-align: center;
    margin: auto;
}
.totalVotes span{
    margin: 10px;
    text-align: center;
}

.adminButtons a{
    margin: 10px 25px 0px 0px;
}

div.content {
    margin-top: 60px;
    margin-left: 250px;
    padding: 0px 10px;
    /* height: 1000px; */
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }