@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.Menus{
    /*  */
    padding-top: 2%;
    text-align: center;
  }

.buttons{
    margin: 2%;
    text-align: center;
    
}

.buttons a{
    margin: 10px;
    width: 22%;
}