@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}



.grid-item table{
  margin: auto;
  display: inline-grid;
  align-content: space-around;

}