@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

table {
  border-collapse:separate;
  border: 3px solid #04AA6D;
  border-radius: 10px;
}

th, td {
  border-radius: 5px;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}


.grid-item table{
  margin: auto;
  row-gap: 15px;
  display: inline-grid;
  align-content: space-around;
}